@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    font-size: 12px;
    
  }
  
  html,
  body {
    height: 100%;
    background: #222;
    color: #fff;
  }
  
  body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  div.wrapper {
    border: 0px pink dashed;
  }
  
  div.content {
    border: 2px gray solid;
  }
  
  .menu {
    border: 0px purple dashed;
  }
  
  .menu a {
    color: #fff;
  }
  
  div.header {
    border: 0px red solid;
  }
  
  #headline {
    color: #fff;
    text-align: center;
    font-size: 45px;
    font-family: 'Russo One', sans-serif;
    margin-top: 30px
  }

  .timeline-title, .edu-item h3{
    font-family: 'Russo One', sans-serif;
  }
  
  #sub-headline {
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px
  }
  
  img {
    padding: 0 0 0 20px;
  }
  
  hr {
    border: 0;
    background: #D6F7C3;
    height: 2px;
  }
  
  hr.thickline {
    height: 8px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  div.news {
    grid-gap: 0px;
  }
  
  .date {
    background-color: #fff;
  }
  
  .title {
    padding: 10px 0px 0px 0px;
  }
  
  .content-text {
    color: #ccc;
  }
  
  .year-group h2 {
    color: #999;
  }
  
  .reference {
    border-left: 3px gray solid;
  }
  
  .pink {
    border-left: 3px #e83e8c solid;
  }
  
  .purple {
    border-left: 3px #6f42c1 solid;
  }
  
  .authors {
    color: #999;
  }
  
  .title {
    text-decoration: none;
  }
  
  .conference,
  .journal,
  .year {
    color: #fff;
  }
  
  .note {
    font-style: italic;
  }
  
  .paper-dialog {
    padding: 20px 20px 5px 20px;
  }
  
  section > paper-button {
    background-color: var(--google-grey-300);
    padding: 5px;
  }
  
  section > paper-button:hover {
    background-color: var(--paper-light-blue-200);
    padding: 5px;
  }
  
  h2 {
    color: #aaa;
  }

  p {
    font-size: 18px
  }
  
  .image {
    border-color: #ccc;
  }
  
  .loader,
  .footer {
    font-size: 14px;
  }
  
  .footer {
    padding-bottom: 40px;
  }
  
  .timeline {
    position: relative;
    list-style-type: none;
    padding: 0;
  }

  .timeline h3{
    font-size: 17px
  }

  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    left: -1px; 
  }
  .timeline-item {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline-item:before,
  .timeline-item:after {
    content: '';
    display: table;
  }
  .timeline-item:after {
    clear: both;
  }
  .timeline-item:before,
  .timeline-item:after {
    content: '';
    display: table;
  }
  .timeline-item:after {
    clear: both;
  }

  .timeline-item .timeline-content {
    margin-top: 15px;
    position: relative;
    clear: both;
    width: 95%;
    background-color: #efffe6de;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    float: left;
    margin-left: 30px;
    color: black
  }
  .timeline-item.timeline-title {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    color: darkgreen
  }
  .timeline-item .timeline-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .timeline-item.timeline-item-left .timeline-content {
    float: right;
  }
  .timeline-item.timeline-item-left .timeline-content::after {
    left: 100%;
    border-color: transparent transparent transparent #f7f7f7;
    border-width: 10px;
    margin-left: -10px;
  }
  .timeline-item.timeline-item-right .timeline-content::after {
    right: 100%;
    border-color: transparent #f7f7f7 transparent transparent;
    border-width: 10px;
    margin-right: -10px;
  }
  .timeline-item:before {
    content: "";
    position: absolute;
    top: 25px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .timeline p{
    font-size: 15px;
    margin-bottom: 0
  }

  .spandate em{
    margin-left: 35px;
    margin-top: 30px;
    font-size: 16px
  }

  ul.work-bullets li{
    font-size: 18px;
    list-style-type: none;
  }

  div.timeline-content p{
    font-size: 18px; 
  }

  .work-bullets li::before {  
      content: "\2022";
      color: rgb(186, 157, 77);
      font-weight: bold;
      display: inline-block;
      width: 1em; 
      margin-left: -1em; 
    }

  .timeline-title{
    color: darkgreen;
    font-size: 23px
  }

  hr{
    color: #abcd97
  }

  .curved-box {
    width: 100%;
    background: linear-gradient(transparent, #2d4f1a);
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
    text-align: center;
}

 .curved-box > .content {
    text-align: center;
    color: white;
    border: none;
}

#socials{
  margin-top: 20px
}

#socials img{
  width: 75px;
  display: relative;
  margin: 0 auto;
  background-color:rgba(0, 0, 0, 0.1)
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 350px
}

.slideshow-container img{
  max-width: 85%;
  max-height: 300px;
  margin-bottom: 20px;
  padding-top: 15px
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  padding-top: 10px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 0.9}
}

#home {
  min-height: 100vh;
  display: block;
  flex-direction: column;
}

.edu-item {
  margin-top: 15px;
  margin-bottom: 0px;
  position: relative;
  clear: both;
  width: 100%;
  background-color: #325f197e;
  padding: 20px;
  padding-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.edu-item h3{
  margin: 0;
  padding: 0;
}

.edu-details {
  position: relative;
  clear: both;
  width: 100%;
  background: linear-gradient(to bottom, #325f1956, transparent);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.edu-details .detail{
  font-style: italic;
  font-size: 14.5px
}

.emphasis{
  font-style: normal;
  font-weight: bold;
  font-size: 14.5px
}

.club-container{
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    clear: both;
    width: 90%;
    background-color: #37621d34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    float: left;
    margin-left: 10%;
    color: white
  }

  .club-container img{
    margin: 0;
    display:block;
    padding: 0;
    max-width: 400px
  }

  .collapsible {
    display: none;
    opacity: 1;
    transition: opacity 2.5s ease;
    color: white
}

.collapsible.active {
    display: block;
    opacity: 0;
    color: white
}


.collage_row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}


.collage_column {
  box-sizing: border-box;
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  justify-content: center;
}

.collage_column img {
  box-sizing: border-box;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  max-width: 300px
}

@media screen and (max-width: 800px) {
  .collage_column {
    box-sizing: border-box;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .collage_column {
    box-sizing: border-box;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .timeline-image{
    opacity: 1;
    z-index: -1;
    margin-top: -50px
  }
}

.collage_column img {
  width: 100%;
  max-height: 100%;
  transition: filter 0.3s ease;
}

.collage_column img:hover {
  filter: drop-shadow(9px 9px 10px black);
}

.caption {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;  
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.collage_column img:hover + .caption {
  opacity: 1;
}

.timeline-image {
  position: absolute;
  top: 0%;
  right: 50px;
  transform: translateY(-50%);
  width: 100px; 
  height: auto; 
  display: inline-block;
}

.yellow{
  color: rgb(245, 234, 38)
}

a, span{
  font-size: 18px
}

a{
  color: lightgreen;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

a:hover{
  color: rgb(38, 146, 38);
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.browse{
  margin-top: 40px
}

/* hackathon */
.hackathon-item {
  margin-top: 15px;
  position: relative;
  clear: both;
  width: 100%;
  background-color: #d9ffdede;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  float: left;
  color: black
}

.hackathon-item h5{
  font-size: 18px
}

.hackathon-item p{
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 0
}

.fancy-list { padding-left: 50px; }
.fancy-list-item { 
  color: white;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; 
    top: -7px;
    left: -46px;
    margin-left:13px
  }
}

.fancy-list-item h5{
  font-size: 20px
}

.film {
  display: flex;
  justify-content: center;
  width: 120%;
  margin-left: -10%; 
  float: clear
}
.film-item {
  flex: 1;
  background-color: #1f262c;
  margin: 15px 8px;
  padding: 30px;
  border-radius: 6px;
  color: #fff;
}

.film-item p {
  padding: 0;
  margin: 0;
  font-size: 15px
}

.film-item p em{
  font-size: 13px;
}

.film-item > p:not(:has(em)) {
  margin-top: 9px;
}

#contact-sect {
  background: linear-gradient(transparent, #7cc59a50);
  margin: 15px 8px;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
  text-align: center
}

#contact-sect p{
  margin: 0 auto
}

.film-thumbnail{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  border-radius: 15px;
}

.post-image{
  margin-bottom: 15px;
  opacity: 0.8;
  filter: sepia(90%) saturate(150%) brightness(80%) hue-rotate(80deg);
}

.post-image:hover{
  opacity: 1;
  filter: sepia(0%) saturate(110%) brightness(100%) hue-rotate(0deg);
}

[class="author mt-2"], [class="VueCarousel-pagination"], [class="read-more"], .post-date{
  display: none
}

.post-title, .post-title:hover{
  text-decoration: none; 
}

.post-title h2{
  font-size: 20px !important;  
  color:rgb(212, 237, 212)
}

#allen{
  width: 100%;
  max-height: 200px;
  margin: 0 auto;
  padding: 0;
  object-fit: cover; 
  overflow: hidden
}

.centered-image {
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100px;
  width: 10%
}


[id^="toggleSection"] {
  background-color: #5c6f80;
  border: solid #5c6f80 5px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

[id^="toggleSection"]:hover{
  background-color: #2f475c;
  border: solid #162736 5px;
  cursor: pointer
}